<div class="page">
    <div class="centered-box">
        <app-terminal title="Skills">
          <div class="terminal">
            <span class="rating-skills" title="Javascript"    tab="0" rate="9"></span>
            <span class="rating-skills" title="Angular (2+)"  tab="1" rate="8"></span>
            <span class="rating-skills" title="NodeJS"        tab="1" rate="7"></span>
            <span class="rating-skills" title="HTML"          tab="0" rate="9"></span>
            <span class="rating-skills" title="CSS"           tab="0" rate="9"></span>
            <span class="rating-skills" title="SASS"          tab="1" rate="7"></span>
            <span class="rating-skills" title="Linux"         tab="0" rate="7"></span>
            <span class="rating-skills" title="Docker"        tab="1" rate="7"></span>
            <pre><< <a routerLink="/home">back</a></pre>
          </div>
        </app-terminal>
    </div>
</div>