@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 11px;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2E2F2D;
  color: #C3AE9F;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.blink {
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite; }
  .blink:before {
    content: "|"; }

@-webkit-keyframes blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.terminal {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em; }
  .terminal .command-line input[type='text'] {
    position: absolute;
    opacity: 0;
    z-index: -10; }
