.command-bar {
    display: flex;
    color: white;
    font-family: 'Roboto Mono', monospace;
    span {
        margin-right: 5px;
    }
}
input {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    &:focus {
        outline: none;
    }
}