<div class="terminal">
    <div class="terminal-header">
        <div class="buttons">
            <span class="button close"></span>
            <span class="button minimize"></span>
            <span class="button maximize"></span>
        </div>
        <div class="title">
            <img src="/assets/img/icons/favicon-16x16.png" alt=""> {{title}}
        </div>
    </div>
    <div class="terminal-container">
        <ng-content></ng-content>
        <app-commands (keydown)="commands.onKeyDown($event)"></app-commands>
    </div>
</div>